# Intialisation Steps
Connecting to Snowflake

## Importing required modules

In [93]:
import pandas as pd
from drg_connect import Snowflake
import qgrid 
from datetime import timedelta, datetime
import math

import warnings
warnings.filterwarnings('ignore')

## Snowflake connection parameter

In [94]:
##defining parameters of snowflake
snow = Snowflake(role = 'RWD_ANALYTICS_RW',database='SANDBOX_ANALYTICS',schema = 'SANDBOX')
engine = snow.engine

%reload_ext sql_magic
%config SQL.output_result = True  #Enable output to std out
%config SQL.notify_result = False #disable browser notifications
%config SQL.conn_name = 'engine'  #Set the sql_magic connection engine

# Queries from here

# Pelican EHR data

## Pelican loinc table details

In [39]:
%%read_sql

select * from RWD_DB.RWD.PELICAN_E_LOINC limit 3

Query started at 10:43:18 AM India Standard TimeInitiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
; Query executed in 0.20 m

,loinc_num,component,property,time_aspct,system,scale_typ,method_typ,class,last_modified,chng_type,...,document_section,example_ucum_units,example_si_ucum_units,status_reason,status_text,change_reason_public,common_test_rank,common_order_rank,common_si_test_rank,hl7_attachment_structure
0,9256-9,Fluid output.total,Vol,Pt,^Patient,Qn,Estimated,IO_OUT.ATOM,1996-09-06,ADD,...,None,None,None,None,None,None,0,0,0,None
1,38474-3,Acylcarnitine,SCnc,Pt,Bld.dot,Qn,None,CHEM,2008-10-21,NAM,...,None,umol/L,None,None,None,None,0,0,0,None
2,2404-2,Hemopexin,MCnc,Pt,Urine,Qn,None,CHEM,2006-10-26,MAJ,...,None,mg/dL,None,None,None,None,0,0,0,None

## Pelican laborder table

In [4]:
%%read_sql

select * from RWD_DB.RWD.PELICAN_LABORDER limit 3

Query started at 04:54:02 PM India Standard Time; Query executed in 0.14 m

,laborder_id,patient_id,provider_id,vendor_id,loinc_num,result_status,report_date,observed_at,obs_quan,obs_qual,unit,is_abnormal,abnormal_flag,created_at,last_modified,transcript_id
0,1364935398341433546,393E2EED-4D2C-79C7-D150-08E8154D142F,None,8844736773880785995,2160-0,Final,2015-11-08,2015-11-14,0.96,NaN,mg/dL,None,None,2015-11-14,2015-11-14,None
1,4177387127494394539,393E2EED-4D2C-79C7-D150-08E8154D142F,D8E5640E-9F96-E7A1-BA57-6E996DF43374,8844736773880785995,43396-1,Final,2018-07-31,2018-08-04,212.00,NaN,mg/dL (calc),None,None,2018-08-05,2018-08-05,None
2,-8421755992989376358,393E2EED-4D2C-79C7-D150-08E8154D142F,D8E5640E-9F96-E7A1-BA57-6E996DF43374,8844736773880785995,30446-9,Not available,2018-07-31,2018-08-04,NaN,281266006.0,cells/uL,None,None,2018-08-05,2018-08-05,None

## Corresponding loinc codes for triglycerides

### Things to remember about loinc codes
 - Format: nnnnn-n
 - Component: what was measured
 - Unit: check from laborder table
 - date: ask/confirm which date to use - report date or observed_at date
 - there's no 'component' variable in laborder table so create an excel for loinc codes and upload

In [15]:
%%read_sql

create or replace table st_ref_loinc as

    select
        loinc_num,
        component

    from RWD_DB.RWD.PELICAN_E_LOINC
    
    where component ilike '%triglyceride%'
        or component ilike '%hdl%'
        or component ilike '%cholesterol%'
        and not component ilike '%ldl%'

Query started at 08:03:17 PM India Standard Time; Query executed in 0.13 m

                                     status
0  Table ST_REF_LOINC successfully created.

In [16]:
snow.select("select * from st_ref_loinc")

    loinc_num                                          component
0      2086-7                                 Cholesterol.in HDL
1     50223-7                               Cholesterol crystals
2      2087-5                                 Cholesterol.in IDL
3     57937-5                              Cholesterol.in HDL 3a
4     32289-1                               7-Dehydrocholesterol
5     17081-1                             Triglyceride^post CFst
6     34472-1                               Cholesterol crystals
7     35200-5                                        Cholesterol
8      2565-0                                        Cholesterol
9     14438-6                                        Cholesterol
10    14447-7                                       Triglyceride
11    74433-4                            Cholestanol/Cholesterol
12    18263-4                                 Cholesterol.in HDL
13    14154-9                                Cholesterol sulfate
14     5777-8                               Cholesterol crystals
15    28554-4                                       Triglyceride
16    53527-8                              Triglyceride.in HDL 2
17     2094-1                         Cholesterol.non-esterified
18    70260-5        Triglyceride.periton fld/Triglyceride.serum
19    59250-1                            Tocopherols/Cholesterol
20    16616-5              Cholesterol.in HDL/Cholesterol.in LDL
21    70269-6            Triglyceride.plr fld/Triglyceride.serum
22    35197-3                                 Cholesterol.in HDL
23    59571-0                                       Triglyceride
24     3047-8                         Triglyceride+ester.in VLDL
25    27340-9                                 Cholesterol.in HDL
26     2093-3                                        Cholesterol
27    57936-7                              Cholesterol.in HDL 2a
28    50799-6                               7-Dehydrocholesterol
29     9619-8                                       Triglyceride
..        ...                                                ...
145   21197-9               Cholesterol esters/Cholesterol.total
146   32308-9                                        Cholesterol
147   25153-8                               Cholesterol crystals
148   74359-1   Cholesterol ester transfer protein actual/normal
149   53082-4                                        Cholesterol
150   70204-3                                Cholesterol.non HDL
151    5932-9                                        Cholesterol
152   70268-8              Cholesterol.plr fld/Cholesterol.serum
153   48620-9                                        Cholesterol
154   73852-6  7-Dehydrocholesterol & 8-Dehydrocholesterol panel
155   14449-3                                       Triglyceride
156   53528-6                              Triglyceride.in HDL 3
157   12531-0                                        Cholesterol
158   54373-6                         Cholesterol.non-esterified
159   46700-1                               7-Dehydrocholesterol
160   44915-7              Cholesterol.in LDL/Cholesterol.in HDL
161   56035-9              Apolipoprotein A-I/Cholesterol.in HDL
162   54469-2     Cholesterol.in HDL 3a/Cholesterol.in HDL.total
163   35361-5             Triglyceride.in lipoprotein (little a)
164   14439-4                                        Cholesterol
165   48089-7                       Cholesterol/Apolipoprotein B
166   16614-0                               Cholesterol crystals
167   59038-0                                        Cholesterol
168   55839-5                 Cholesterol ester transfer protein
169   54371-0                                        Cholesterol
170   35389-6                        Cholesterol.in chylomicrons
171    3044-5                          Triglyceride+ester.in HDL
172   66769-1                                       Triglyceride
173   58299-9  Age began taking high blood cholesterol medica...
174   50339-1                                        Cholesterol

[175 rows x 2 columns]

## Reference table for triglyceride-related loinc codes

In [15]:
%%read_sql

create or replace temporary table st_loinc_ref1 as

select
    'loinc' as cat1,
    'tg' as cat2,
    null as cat3,
     loinc_num as value,
    RELATEDNAMES2 as description,
    current_date() as active_date,
    'swar' as active_reason,
    null as deactive_date,
    null as deactive_reason,
    'RWD_DB.RWD.PELICAN_E_LOINC' as source
from 
   RWD_DB.RWD.PELICAN_E_LOINC
    where
        component ilike '%triglyceride%'

Query started at 07:50:07 PM India Standard Time; Query executed in 0.12 m

                                      status
0  Table ST_LOINC_REF1 successfully created.

In [16]:
%%read_sql df

select * from st_loinc_ref1

Query started at 07:50:17 PM India Standard Time; Query executed in 0.07 m

,cat1,cat2,cat3,value,description,active_date,active_reason,deactive_date,deactive_reason,source
0,loinc,tg,None,17081-1,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
1,loinc,tg,None,14447-7,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
2,loinc,tg,None,28554-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
3,loinc,tg,None,53527-8,Trigl in HDL2; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
4,loinc,tg,None,70260-5,Trigl Prt; PT-TRIG; TG; Trigly; Triglycrides; ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
5,loinc,tg,None,70269-6,Trigl Plr fld; PF-TRIG; TG; Trigly; Triglycrid...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
6,loinc,tg,None,59571-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
7,loinc,tg,None,3047-8,Trigl+VLDL Ester; TG; Trigly; Triglycrides; Tr...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
8,loinc,tg,None,9619-8,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
9,loinc,tg,None,2096-6,Cholest; Chol; Choles; Lipid; Cholesterol tota...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
10,loinc,tg,None,2571-8,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
11,loinc,tg,None,3046-0,Trigl+LDL Ester; TG; Trigly; Triglycrides; Tri...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
12,loinc,tg,None,55607-6,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
13,loinc,tg,None,22731-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
14,loinc,tg,None,69947-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
15,loinc,tg,None,59572-8,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
16,loinc,tg,None,34695-7,VLDLc; Very low density lipoprotein cholestero...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
17,loinc,tg,None,35360-7,Lpa Trigl; Lpa Triglyceride; LP(a) Triglycerid...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
18,loinc,tg,None,12951-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
19,loinc,tg,None,3049-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
20,loinc,tg,None,44718-5,VLDL; Very low density lipoproteins; Trigl; TG...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
21,loinc,tg,None,3048-6,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
22,loinc,tg,None,14445-1,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
23,loinc,tg,None,1644-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
24,loinc,tg,None,44733-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
25,loinc,tg,None,30570-6,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
26,loinc,tg,None,47210-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
27,loinc,tg,None,12950-2,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
28,loinc,tg,None,14446-9,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
29,loinc,tg,None,30524-3,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
30,loinc,tg,None,14927-8,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
31,loinc,tg,None,14450-1,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
32,loinc,tg,None,13899-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
33,loinc,tg,None,29766-3,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
34,loinc,tg,None,70218-3,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
35,loinc,tg,None,39801-6,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
36,loinc,tg,None,3045-2,Trigl+IDL Ester; Beta VLDL; TG; Trigly; Trigly...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
37,loinc,tg,None,35363-1,Trig in Chylo; Trigl; TG; Trigly; Triglycrides...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
38,loinc,tg,None,53526-0,Trigl in VLDL; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
39,loinc,tg,None,35362-3,Trig in Chylo; Trigl; TG; Trigly; Triglycrides...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
40,loinc,tg,None,70259-7,Trigl Pcar; PC-TRIG; TG; Trigly; Triglycrides;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
41,loinc,tg,None,59036-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
42,loinc,tg,None,14448-5,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
43,loinc,tg,None,12228-3,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
44,loinc,tg,None,51605-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
45,loinc,tg,None,3043-7,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
46,loinc,tg,None,35217-9,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
47,loinc,tg,None,14449-3,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
48,loinc,tg,None,53528-6,Trigl in HDL3; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
49,loinc,tg,None,35361-5,Lpa Trigl; Lpa Triglyceride; LP(a) Triglycerid...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
50,loinc,tg,None,3044-5,Trigl+HDL Ester; TG; Trigly; Triglycrides; Tri...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
51,loinc,tg,None,66769-1,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC

## Reference table for hdl-related loinc codes

In [18]:
%%read_sql

create or replace temporary table st_loinc_ref2 as

select
    'loinc' as cat1,
    'tg' as cat2,
    'hdl' as cat3,
     loinc_num as value,
    RELATEDNAMES2 as description,
    current_date() as active_date,
    'swar' as active_reason,
    null as deactive_date,
    null as deactive_reason,
    'RWD_DB.RWD.PELICAN_E_LOINC' as source

    from 
       RWD_DB.RWD.PELICAN_E_LOINC
    
    where
        component ilike '%hdl%'

Query started at 07:51:08 PM India Standard Time; Query executed in 0.07 m

                                      status
0  Table ST_LOINC_REF2 successfully created.

In [19]:
%%read_sql df

select * from st_loinc_ref2

Query started at 07:51:17 PM India Standard Time; Query executed in 0.05 m

,cat1,cat2,cat3,value,description,active_date,active_reason,deactive_date,deactive_reason,source
0,loinc,tg,hdl,2086-7,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
1,loinc,tg,hdl,57937-5,HDLc 3a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
2,loinc,tg,hdl,18263-4,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
3,loinc,tg,hdl,53527-8,Trigl in HDL2; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
4,loinc,tg,hdl,16616-5,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
5,loinc,tg,hdl,35197-3,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
6,loinc,tg,hdl,27340-9,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
7,loinc,tg,hdl,57936-7,HDLc 2a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
8,loinc,tg,hdl,26015-8,HDL2c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
9,loinc,tg,hdl,13460-1,LDLc; LDL-C; Low density lipoprotein cholester...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
10,loinc,tg,hdl,2085-9,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
11,loinc,tg,hdl,47228-2,NonHDLc; LDL + IDL + VLDL; Cholest; TC; Choles...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
12,loinc,tg,hdl,53135-0,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
13,loinc,tg,hdl,47220-9,HDL4+5c; HDLc; TCHHDL; HDL-C; High density lip...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
14,loinc,tg,hdl,9832-7,HDL2c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
15,loinc,tg,hdl,55607-6,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
16,loinc,tg,hdl,56132-4,HDLc 2a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
17,loinc,tg,hdl,9322-9,Cholest; TC; Cholesterols; HDLc; TCHHDL; HDL-C...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
18,loinc,tg,hdl,9833-5,HDL3c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
19,loinc,tg,hdl,47221-7,HDL1+2c; HDLc; TCHHDL; HDL-C; High density lip...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
20,loinc,tg,hdl,26017-4,HDL3c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
21,loinc,tg,hdl,26016-6,HDL2c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
22,loinc,tg,hdl,48090-5,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
23,loinc,tg,hdl,54470-0,HDLc 3b; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
24,loinc,tg,hdl,44733-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
25,loinc,tg,hdl,54468-4,HDLc 2b; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
26,loinc,tg,hdl,50840-8,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
27,loinc,tg,hdl,2095-8,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
28,loinc,tg,hdl,50409-2,HDL2+3c; HDL2c; HDLc; TCHHDL; HDL-C; High dens...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
29,loinc,tg,hdl,56133-2,HDLc 2b; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
30,loinc,tg,hdl,70200-1,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
31,loinc,tg,hdl,54471-8,HDLc 3c; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
32,loinc,tg,hdl,43396-1,NonHDLc; LDL + IDL + VLDL; Cholest; Chol; Chol...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
33,loinc,tg,hdl,32309-7,Cholest; TC; Cholesterols; HDLc; TCHHDL; HDL-C...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
34,loinc,tg,hdl,54467-6,HDLc 2a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
35,loinc,tg,hdl,12772-0,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
36,loinc,tg,hdl,49130-8,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
37,loinc,tg,hdl,11054-4,LDLc; LDL-C; Low density lipoprotein cholester...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
38,loinc,tg,hdl,35243-5,HDL3c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
39,loinc,tg,hdl,12771-2,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
40,loinc,tg,hdl,9830-1,Cholest; TC; Cholesterols; HDLc; TCHHDL; HDL-C...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
41,loinc,tg,hdl,14646-4,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
42,loinc,tg,hdl,54372-8,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
43,loinc,tg,hdl,70204-3,NonHDLc; LDL + IDL + VLDL; Cholest; Chol; Chol...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
44,loinc,tg,hdl,53528-6,Trigl in HDL3; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
45,loinc,tg,hdl,44915-7,LDLc; LDL-C; Low density lipoprotein cholester...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
46,loinc,tg,hdl,56035-9,Apo A-I; ApoA1; Apolipoprotein A1; HDLc; TCHHD...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
47,loinc,tg,hdl,54469-2,HDLc 3a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
48,loinc,tg,hdl,3044-5,Trigl+HDL Ester; TG; Trigly; Triglycrides; Tri...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC

## Merging (union) tg and hdl reference tables

In [20]:
%%read_sql df

select * from st_loinc_ref1
union
select * from st_loinc_ref2

Query started at 07:51:28 PM India Standard Time; Query executed in 0.06 m

,cat1,cat2,cat3,value,description,active_date,active_reason,deactive_date,deactive_reason,source
0,loinc,tg,None,3047-8,Trigl+VLDL Ester; TG; Trigly; Triglycrides; Tr...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
1,loinc,tg,None,34695-7,VLDLc; Very low density lipoprotein cholestero...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
2,loinc,tg,None,35360-7,Lpa Trigl; Lpa Triglyceride; LP(a) Triglycerid...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
3,loinc,tg,None,3049-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
4,loinc,tg,None,3048-6,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
5,loinc,tg,None,1644-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
6,loinc,tg,None,47210-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
7,loinc,tg,None,12950-2,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
8,loinc,tg,None,14927-8,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
9,loinc,tg,None,13899-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
10,loinc,tg,None,29766-3,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
11,loinc,tg,None,35362-3,Trig in Chylo; Trigl; TG; Trigly; Triglycrides...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
12,loinc,tg,None,59036-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
13,loinc,tg,None,59572-8,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
14,loinc,tg,None,53526-0,Trigl in VLDL; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
15,loinc,tg,None,3044-5,Trigl+HDL Ester; TG; Trigly; Triglycrides; Tri...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
16,loinc,tg,None,51605-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
17,loinc,tg,None,35361-5,Lpa Trigl; Lpa Triglyceride; LP(a) Triglycerid...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
18,loinc,tg,None,3045-2,Trigl+IDL Ester; Beta VLDL; TG; Trigly; Trigly...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
19,loinc,tg,None,70259-7,Trigl Pcar; PC-TRIG; TG; Trigly; Triglycrides;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
20,loinc,tg,None,3043-7,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
21,loinc,tg,hdl,2086-7,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
22,loinc,tg,hdl,57937-5,HDLc 3a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
23,loinc,tg,hdl,27340-9,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
24,loinc,tg,hdl,47220-9,HDL4+5c; HDLc; TCHHDL; HDL-C; High density lip...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
25,loinc,tg,hdl,55607-6,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
26,loinc,tg,hdl,9322-9,Cholest; TC; Cholesterols; HDLc; TCHHDL; HDL-C...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
27,loinc,tg,hdl,9833-5,HDL3c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
28,loinc,tg,hdl,26017-4,HDL3c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
29,loinc,tg,hdl,70200-1,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
...,...,...,...,...,...,...,...,...,...,...
71,loinc,tg,None,12951-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
72,loinc,tg,hdl,18263-4,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
73,loinc,tg,hdl,53527-8,Trigl in HDL2; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
74,loinc,tg,hdl,16616-5,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
75,loinc,tg,hdl,35197-3,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
76,loinc,tg,hdl,57936-7,HDLc 2a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
77,loinc,tg,hdl,26015-8,HDL2c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
78,loinc,tg,hdl,13460-1,LDLc; LDL-C; Low density lipoprotein cholester...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
79,loinc,tg,hdl,53135-0,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
80,loinc,tg,hdl,9832-7,HDL2c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
81,loinc,tg,hdl,56132-4,HDLc 2a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
82,loinc,tg,hdl,47221-7,HDL1+2c; HDLc; TCHHDL; HDL-C; High density lip...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
83,loinc,tg,hdl,54470-0,HDLc 3b; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
84,loinc,tg,hdl,44733-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
85,loinc,tg,hdl,56133-2,HDLc 2b; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
86,loinc,tg,hdl,32309-7,Cholest; TC; Cholesterols; HDLc; TCHHDL; HDL-C...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
87,loinc,tg,hdl,54467-6,HDLc 2a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
88,loinc,tg,hdl,47228-2,NonHDLc; LDL + IDL + VLDL; Cholest; TC; Choles...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
89,loinc,tg,hdl,26016-6,HDL2c; HDLc; TCHHDL; HDL-C; High density lipop...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
90,loinc,tg,hdl,43396-1,NonHDLc; LDL + IDL + VLDL; Cholest; Chol; Chol...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
91,loinc,tg,hdl,14646-4,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
92,loinc,tg,hdl,54372-8,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
93,loinc,tg,hdl,70204-3,NonHDLc; LDL + IDL + VLDL; Cholest; Chol; Chol...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
94,loinc,tg,hdl,53528-6,Trigl in HDL3; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
95,loinc,tg,hdl,50840-8,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
96,loinc,tg,hdl,12772-0,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
97,loinc,tg,hdl,56035-9,Apo A-I; ApoA1; Apolipoprotein A1; HDLc; TCHHD...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
98,loinc,tg,hdl,48090-5,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
99,loinc,tg,hdl,49130-8,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC
100,loinc,tg,hdl,54468-4,HDLc 2b; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,None,None,RWD_DB.RWD.PELICAN_E_LOINC

In [21]:
# Export to check, and then will inactivate codes that are not relevant and re-upload as final reference table
df.to_excel("out/loinccodes_check.xlsx", index=False)

## Upload into snowflake

In [24]:
loinc_ref = pd.read_excel("in/loinc_ref.xlsx")

In [25]:
snow.drop_table("st_loinc_ref")

DROP TABLE IF EXISTS sandbox_analytics.sandbox.st_loinc_ref;
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Table sandbox.st_loinc_ref dropped!

In [26]:
snow.upload_dataframe(loinc_ref, "st_loinc_ref")

Upload successful!

In [27]:
%%read_sql

select *
from st_loinc_ref
where deactive_date is not null

Query started at 10:07:12 AM India Standard Time; Query executed in 0.06 m

,cat1,cat2,cat3,value,description,active_date,active_reason,deactive_date,deactive_reason,source
0,loinc,tg,None,3047-8,Trigl+VLDL Ester; TG; Trigly; Triglycrides; Tr...,2018-12-17,swar,2018-12-18,tg+vLDL,RWD_DB.RWD.PELICAN_E_LOINC
1,loinc,tg,None,34695-7,VLDLc; Very low density lipoprotein cholestero...,2018-12-17,swar,2018-12-18,vLDLc,RWD_DB.RWD.PELICAN_E_LOINC
2,loinc,tg,None,35360-7,Lpa Trigl; Lpa Triglyceride; LP(a) Triglycerid...,2018-12-17,swar,2018-12-17,Triglyceride in lipoprotein a [Mass/volume] in...,RWD_DB.RWD.PELICAN_E_LOINC
3,loinc,tg,None,12950-2,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,body fluids,RWD_DB.RWD.PELICAN_E_LOINC
4,loinc,tg,None,13899-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Deprecated Triglyceride [Mass/volume] in fluid,RWD_DB.RWD.PELICAN_E_LOINC
5,loinc,tg,None,29766-3,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Triglyceride [Moles/volume] in Body fluid,RWD_DB.RWD.PELICAN_E_LOINC
6,loinc,tg,None,59036-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-17,Triglyceride [Mass/volume] in Peritoneal dialy...,RWD_DB.RWD.PELICAN_E_LOINC
7,loinc,tg,None,53526-0,Trigl in VLDL; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,2018-12-18,tg+vLDL,RWD_DB.RWD.PELICAN_E_LOINC
8,loinc,tg,None,3044-5,Trigl+HDL Ester; TG; Trigly; Triglycrides; Tri...,2018-12-17,swar,2018-12-18,Triglyceride+ester in HDL [Mass/volume] in Ser...,RWD_DB.RWD.PELICAN_E_LOINC
9,loinc,tg,None,51605-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Triglyceride [Moles/volume] in Synovial fluid,RWD_DB.RWD.PELICAN_E_LOINC
10,loinc,tg,None,35361-5,Lpa Trigl; Lpa Triglyceride; LP(a) Triglycerid...,2018-12-17,swar,2018-12-17,Triglyceride in lipoprotein a [Presence] in Se...,RWD_DB.RWD.PELICAN_E_LOINC
11,loinc,tg,None,3045-2,Trigl+IDL Ester; Beta VLDL; TG; Trigly; Trigly...,2018-12-17,swar,2018-12-17,Triglyceride+ester in IDL [Mass/volume] in Ser...,RWD_DB.RWD.PELICAN_E_LOINC
12,loinc,tg,None,70259-7,Trigl Pcar; PC-TRIG; TG; Trigly; Triglycrides;...,2018-12-17,swar,2018-12-17,Triglyceride in pericardial fluid/Triglyceride...,RWD_DB.RWD.PELICAN_E_LOINC
13,loinc,tg,hdl,55607-6,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Triglyceride/Cholesterol in HDL [Molar ratio] ...,RWD_DB.RWD.PELICAN_E_LOINC
14,loinc,tg,hdl,9322-9,Cholest; TC; Cholesterols; HDLc; TCHHDL; HDL-C...,2018-12-17,swar,2018-12-18,Cholesterol.total/Cholesterol in HDL [Percentile],RWD_DB.RWD.PELICAN_E_LOINC
15,loinc,tg,hdl,70200-1,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,2018-12-18,Cholesterol in HDL/Cholesterol.total [Molar ra...,RWD_DB.RWD.PELICAN_E_LOINC
16,loinc,tg,hdl,54471-8,HDLc 3c; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,2018-12-18,Cholesterol in HDL 3c/Cholesterol in total HDL...,RWD_DB.RWD.PELICAN_E_LOINC
17,loinc,tg,hdl,9830-1,Cholest; TC; Cholesterols; HDLc; TCHHDL; HDL-C...,2018-12-17,swar,2018-12-18,Cholesterol.total/Cholesterol in HDL [Mass Rat...,RWD_DB.RWD.PELICAN_E_LOINC
18,loinc,tg,hdl,44915-7,LDLc; LDL-C; Low density lipoprotein cholester...,2018-12-17,swar,2018-12-18,Cholesterol in LDL/Cholesterol in HDL [Molar r...,RWD_DB.RWD.PELICAN_E_LOINC
19,loinc,tg,hdl,3044-5,Trigl+HDL Ester; TG; Trigly; Triglycrides; Tri...,2018-12-17,swar,2018-12-18,Triglyceride+ester in HDL [Mass/volume] in Ser...,RWD_DB.RWD.PELICAN_E_LOINC
20,loinc,tg,hdl,2095-8,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,2018-12-18,Cholesterol in HDL/Cholesterol.total [Mass Rat...,RWD_DB.RWD.PELICAN_E_LOINC
21,loinc,tg,hdl,11054-4,LDLc; LDL-C; Low density lipoprotein cholester...,2018-12-17,swar,2018-12-18,Cholesterol in LDL/Cholesterol in HDL [Mass Ra...,RWD_DB.RWD.PELICAN_E_LOINC
22,loinc,tg,hdl,54469-2,HDLc 3a; TCHHDL; HDL-C; High density lipoprote...,2018-12-17,swar,2018-12-18,Cholesterol in HDL 3a/Cholesterol in total HDL...,RWD_DB.RWD.PELICAN_E_LOINC
23,loinc,tg,None,14447-7,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,peritoneal fluid,RWD_DB.RWD.PELICAN_E_LOINC
24,loinc,tg,None,53527-8,Trigl in HDL2; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,2018-12-18,tg in hdl2,RWD_DB.RWD.PELICAN_E_LOINC
25,loinc,tg,None,70260-5,Trigl Prt; PT-TRIG; TG; Trigly; Triglycrides; ...,2018-12-17,swar,2018-12-18,peritoneal fluid,RWD_DB.RWD.PELICAN_E_LOINC
26,loinc,tg,None,70269-6,Trigl Plr fld; PF-TRIG; TG; Trigly; Triglycrid...,2018-12-17,swar,2018-12-18,thoracentesis fluid,RWD_DB.RWD.PELICAN_E_LOINC
27,loinc,tg,None,9619-8,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-17,Triglyceride [Mass/volume] in Pleural fluid,RWD_DB.RWD.PELICAN_E_LOINC
28,loinc,tg,None,2096-6,Cholest; Chol; Choles; Lipid; Cholesterol tota...,2018-12-17,swar,2018-12-17,Cholesterol/Triglyceride [Mass Ratio] in Serum...,RWD_DB.RWD.PELICAN_E_LOINC
29,loinc,tg,None,69947-0,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,pericardial fluid,RWD_DB.RWD.PELICAN_E_LOINC
30,loinc,tg,None,44718-5,VLDL; Very low density lipoproteins; Trigl; TG...,2018-12-17,swar,2018-12-17,Lipoprotein.pre-beta/Triglyceride [Mass Ratio]...,RWD_DB.RWD.PELICAN_E_LOINC
31,loinc,tg,None,14445-1,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,amniotic fluid,RWD_DB.RWD.PELICAN_E_LOINC
32,loinc,tg,None,44733-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Triglyceride/Cholesterol in HDL [Mass Ratio] i...,RWD_DB.RWD.PELICAN_E_LOINC
33,loinc,tg,None,14446-9,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Tg in cerebrospinal fluid,RWD_DB.RWD.PELICAN_E_LOINC
34,loinc,tg,None,35363-1,Trig in Chylo; Trigl; TG; Trigly; Triglycrides...,2018-12-17,swar,2018-12-18,tg in chylomicrons,RWD_DB.RWD.PELICAN_E_LOINC
35,loinc,tg,None,12228-3,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Tg in body fluid,RWD_DB.RWD.PELICAN_E_LOINC
36,loinc,tg,None,53528-6,Trigl in HDL3; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,2018-12-18,Triglyceride in HDL 3 [Moles/volume] in Serum ...,RWD_DB.RWD.PELICAN_E_LOINC
37,loinc,tg,None,14448-5,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Triglyceride [Mass/volume] in Semen,RWD_DB.RWD.PELICAN_E_LOINC
38,loinc,tg,None,66769-1,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Triglyceride [Moles/volume] in Peritoneal fluid,RWD_DB.RWD.PELICAN_E_LOINC
39,loinc,tg,None,55607-6,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Triglyceride/Cholesterol in HDL [Molar ratio] ...,RWD_DB.RWD.PELICAN_E_LOINC
40,loinc,tg,None,14449-3,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,tg in synovial joints,RWD_DB.RWD.PELICAN_E_LOINC
41,loinc,tg,hdl,53527-8,Trigl in HDL2; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,2018-12-18,tg in hdl2,RWD_DB.RWD.PELICAN_E_LOINC
42,loinc,tg,hdl,13460-1,LDLc; LDL-C; Low density lipoprotein cholester...,2018-12-17,swar,2018-12-18,LDL-c,RWD_DB.RWD.PELICAN_E_LOINC
43,loinc,tg,hdl,53135-0,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,2018-12-18,dialysis fluid,RWD_DB.RWD.PELICAN_E_LOINC
44,loinc,tg,hdl,44733-4,Trigl; TG; Trigly; Triglycrides; Trig; Triglyc...,2018-12-17,swar,2018-12-18,Triglyceride/Cholesterol in HDL [Mass Ratio] i...,RWD_DB.RWD.PELICAN_E_LOINC
45,loinc,tg,hdl,47228-2,NonHDLc; LDL + IDL + VLDL; Cholest; TC; Choles...,2018-12-17,swar,2018-12-18,Cholesterol non HDL/Cholesterol.total [Mass Ra...,RWD_DB.RWD.PELICAN_E_LOINC
46,loinc,tg,hdl,43396-1,NonHDLc; LDL + IDL + VLDL; Cholest; Chol; Chol...,2018-12-17,swar,2018-12-18,Cholesterol non HDL [Mass/volume] in Serum or ...,RWD_DB.RWD.PELICAN_E_LOINC
47,loinc,tg,hdl,70204-3,NonHDLc; LDL + IDL + VLDL; Cholest; Chol; Chol...,2018-12-17,swar,2018-12-18,Cholesterol non HDL [Moles/volume] in Serum or...,RWD_DB.RWD.PELICAN_E_LOINC
48,loinc,tg,hdl,53528-6,Trigl in HDL3; TG; Trigly; Triglycrides; Trig;...,2018-12-17,swar,2018-12-18,Triglyceride in HDL 3 [Moles/volume] in Serum ...,RWD_DB.RWD.PELICAN_E_LOINC
49,loinc,tg,hdl,56035-9,Apo A-I; ApoA1; Apolipoprotein A1; HDLc; TCHHD...,2018-12-17,swar,2018-12-18,Apolipoprotein A-I/Cholesterol in HDL [Mass Ra...,RWD_DB.RWD.PELICAN_E_LOINC
50,loinc,tg,hdl,48090-5,HDLc; TCHHDL; HDL-C; High density lipoprotein ...,2018-12-17,swar,2018-12-18,Cholesterol in HDL/Cholesterol in HDL+VLDL [Mo...,RWD_DB.RWD.PELICAN_E_LOINC

# Patient cohorts
- Using laborders table

### Things to do:
- We want unique patients related to the above listed loinc codes.
- We then want to stratify them into buckets (see image in next section)
    - p.s.: these buckets have to be greater than or equal to

In [24]:
%%html
<img src="img/analysis_plan.png", width=800, height=800)>

## Observation cohort
- Including all patients who have a loinc code pertaining to tg or hdl

In [28]:
%%read_sql

create or replace table st_tg_obs_cohort as

select
    patient_id,
    loinc_num,
    result_status,
    report_date,
    obs_quan,
    obs_qual,
    unit

from
    RWD_DB.RWD.PELICAN_LABORDER
where
    loinc_num in (select value from st_loinc_ref where cat1 = 'loinc' and deactive_date is null)

Query started at 10:08:08 AM India Standard Time; Query executed in 0.65 m

                                         status
0  Table ST_TG_OBS_COHORT successfully created.

In [7]:
snow.select("select count(distinct patient_id) from st_tg_obs_cohort where left(patient_id, 5) != 'XXX -'")

   COUNT(DISTINCT PATIENT_ID)
0                     7513315

In [29]:
%%read_sql
select * from st_tg_obs_cohort limit 100

Query started at 10:23:04 AM India Standard Time; Query executed in 0.10 m

,patient_id,loinc_num,result_status,report_date,obs_quan,obs_qual,unit
0,8BDCAEB0-2AB1-2F28-BBA9-D6C666A97600,2571-8,Final,2013-12-16,66.0,None,mg/dL
1,8BDCAEB0-2AB1-2F28-BBA9-D6C666A97600,2085-9,Final,2013-12-16,79.0,None,mg/dL
2,AF707EC3-1FA8-B7ED-8A46-D9FD8C388409,2085-9,Final,2018-11-01,47.0,None,mg/dL
3,AF707EC3-1FA8-B7ED-8A46-D9FD8C388409,2571-8,Final,2018-11-01,150.0,None,mg/dL
4,AF707EC3-1FA8-B7ED-8A46-D9FD8C388409,2085-9,Final,2018-07-01,41.0,None,mg/dL
5,AF707EC3-1FA8-B7ED-8A46-D9FD8C388409,2571-8,Final,2018-07-01,223.0,None,mg/dL
6,C354043B-E973-EBC0-28CD-1D64CE28F77B,2085-9,Final,2015-05-13,46.0,None,mg/dL
7,C99EC882-3033-9146-F916-46BB3058198B,2571-8,Final,2017-03-03,165.0,None,mg/dL
8,C99EC882-3033-9146-F916-46BB3058198B,2085-9,Final,2017-03-03,55.0,None,mg/dL
9,C99EC882-3033-9146-F916-46BB3058198B,2085-9,Final,2015-02-15,66.0,None,mg/dL
10,C99EC882-3033-9146-F916-46BB3058198B,2571-8,Final,2015-02-15,134.0,None,mg/dL
11,C99EC882-3033-9146-F916-46BB3058198B,2085-9,Final,2018-03-05,73.0,None,mg/dL
12,C99EC882-3033-9146-F916-46BB3058198B,2571-8,Final,2014-02-10,134.0,None,mg/dL
13,C99EC882-3033-9146-F916-46BB3058198B,2571-8,Final,2018-03-05,177.0,None,mg/dL
14,8802EF0A-262A-B400-409A-D2C228A583C4,2085-9,Final,2015-11-05,31.0,None,MG/DL
15,8802EF0A-262A-B400-409A-D2C228A583C4,2085-9,Final,2013-12-27,33.0,None,mg/dL
16,D3AF3932-FB5F-1FC2-E4E5-7AD7B21BB2DC,2085-9,Final,2012-04-04,71.0,None,mg/dL
17,D3AF3932-FB5F-1FC2-E4E5-7AD7B21BB2DC,2085-9,Final,2013-03-07,68.0,None,mg/dL
18,524DC39C-0137-52EA-9A0E-94A0DE1459BF,2085-9,Final,2016-08-20,58.0,None,MG/DL
19,524DC39C-0137-52EA-9A0E-94A0DE1459BF,2571-8,Final,2016-08-20,73.0,None,MG/DL
20,75CFD5EA-6DDC-0A2F-4107-BAD0211E95C8,2571-8,Final,2012-01-28,266.0,None,mg/dL
21,75CFD5EA-6DDC-0A2F-4107-BAD0211E95C8,2571-8,Final,2012-11-04,119.0,None,mg/dL
22,75CFD5EA-6DDC-0A2F-4107-BAD0211E95C8,2571-8,Final,2013-03-27,291.0,None,mg/dL
23,75CFD5EA-6DDC-0A2F-4107-BAD0211E95C8,2085-9,Final,2013-03-27,37.0,None,mg/dL
24,75CFD5EA-6DDC-0A2F-4107-BAD0211E95C8,2085-9,Final,2012-01-28,31.0,None,mg/dL
25,75CFD5EA-6DDC-0A2F-4107-BAD0211E95C8,2571-8,Final,2012-07-18,222.0,None,mg/dL
26,75CFD5EA-6DDC-0A2F-4107-BAD0211E95C8,2085-9,Final,2012-07-18,40.0,None,mg/dL
27,75CFD5EA-6DDC-0A2F-4107-BAD0211E95C8,2085-9,Final,2012-11-04,44.0,None,mg/dL
28,75CFD5EA-6DDC-0A2F-4107-BAD0211E95C8,2085-9,Final,2014-07-31,43.0,None,mg/dL
29,F0AA0431-190F-5714-CA53-AD978C0367FF,2085-9,Final,2014-07-14,60.0,None,mg/dL
...,...,...,...,...,...,...,...
70,DEFAED88-0726-89F1-4748-641C9E5D47F9,2571-8,Final,2016-08-14,188.0,None,mg/dL
71,DEFAED88-0726-89F1-4748-641C9E5D47F9,2085-9,Final,2016-08-14,62.0,None,mg/dL
72,7082A544-7BA2-5E53-77BE-CF7A79C44560,2571-8,Final,2016-03-14,214.0,None,mg/dL
73,7082A544-7BA2-5E53-77BE-CF7A79C44560,2085-9,Final,2016-03-14,36.0,None,mg/dL
74,45E69548-0C1C-CA2E-5FC1-DFA50328E2A3,2571-8,Final,2017-10-08,32.0,None,mg/dL
75,45E69548-0C1C-CA2E-5FC1-DFA50328E2A3,2085-9,Final,2017-10-08,43.0,None,mg/dL
76,E9370DF1-AFA6-B921-0647-9EAA93FB94C6,2571-8,Final,2017-12-01,84.0,None,mg/dL
77,E9370DF1-AFA6-B921-0647-9EAA93FB94C6,2085-9,Final,2017-12-01,49.0,None,mg/dL
78,98BC57C7-09C8-E779-B8F3-4317C178E413,2571-8,Final,2017-03-09,50.0,None,mg/dL
79,98BC57C7-09C8-E779-B8F3-4317C178E413,2085-9,Final,2017-03-09,52.0,None,mg/dL
80,F632E6D7-BD49-8FB9-7FDA-D7C9B2009C0A,2571-8,Final,2016-04-16,73.0,None,mg/dL
81,F632E6D7-BD49-8FB9-7FDA-D7C9B2009C0A,2085-9,Final,2016-04-16,75.0,None,mg/dL
82,F632E6D7-BD49-8FB9-7FDA-D7C9B2009C0A,2085-9,Final,2013-03-02,46.0,None,mg/dL
83,F632E6D7-BD49-8FB9-7FDA-D7C9B2009C0A,2085-9,Final,2015-01-27,65.0,None,mg/dL
84,F632E6D7-BD49-8FB9-7FDA-D7C9B2009C0A,2571-8,Final,2013-03-02,84.0,None,mg/dL
85,FF9DE826-8BA3-A73E-D422-8B03D4D24F08,2571-8,Final,2017-03-04,70.0,None,mg/dL
86,FF9DE826-8BA3-A73E-D422-8B03D4D24F08,2085-9,Final,2017-03-04,60.0,None,mg/dL
87,C348EEA3-92E1-4D4F-C78A-14621D57BAC0,2085-9,Final,2018-10-10,30.0,None,mg/dL
88,C348EEA3-92E1-4D4F-C78A-14621D57BAC0,2571-8,Final,2018-10-10,166.0,None,mg/dL
89,FEF474D7-29E5-C879-9A97-14599109B88A,2085-9,Final,2013-01-23,44.0,None,mg/dL
90,429FF309-D2DF-695A-D4AE-906670158201,2571-8,Final,2018-06-24,85.0,None,mg/dL
91,429FF309-D2DF-695A-D4AE-906670158201,2085-9,Final,2018-06-24,65.0,None,mg/dL
92,AAB3F4D3-BA14-425B-EDED-CFC93C06B787,2085-9,Final,2013-10-16,50.0,None,mg/dL
93,AAB3F4D3-BA14-425B-EDED-CFC93C06B787,2085-9,Final,2014-09-26,60.0,None,mg/dL
94,AAB3F4D3-BA14-425B-EDED-CFC93C06B787,2085-9,Final,2015-03-27,61.0,None,mg/dL
95,AAB3F4D3-BA14-425B-EDED-CFC93C06B787,2085-9,Final,2014-04-23,44.0,None,mg/dL
96,DC4C2B80-2F91-2338-F0C6-AE6779309F86,2085-9,Final,2013-08-13,82.0,None,mg/dL
97,DC4C2B80-2F91-2338-F0C6-AE6779309F86,2085-9,Final,2012-07-18,82.0,None,mg/dL
98,DC4C2B80-2F91-2338-F0C6-AE6779309F86,2085-9,Final,2014-02-13,87.0,None,mg/dL
99,F4DE20E9-3D19-9B36-BE80-655A78EBCC1F,2085-9,Final,2013-08-08,36.0,None,mg/dL

## Categorizing by triglyceride levels

- Every patient should have tg level and hdl level values
- Use latest report_date for distinct patient_id
- Ask if we want gender as a field?

In [14]:
snow.select("select distinct cat3 from st_loinc_ref")

  cat2
0   tg
1  hdl

### Triglyceride cohorts
- Selecting all patients with corresponding triglyceride level
- **Need 4 different tables for each category of triglycerides**

#### Tg levels lt 150 and gt=150

In [109]:
%%read_sql

create or replace table st_tg_cohort1 as

    select patient_id,
           report_date,
           obs_quan,
           unit,
           
           case
               when obs_quan < 150 then 'tg_lt150'
               when obs_quan >= 150 then 'tg_gt150'
               
           end as tg_level
       
    from st_tg_obs_cohort
    
        where loinc_num in (select value from st_loinc_ref where cat1 = 'loinc' and cat2 = 'tg' 
                            and cat3 is null and deactive_date is null)
               and result_status ilike '%Final%'  
               --and report_date = (select max(report_date) from st_tg_obs_cohort)

Query started at 04:25:06 PM India Standard Time; Query executed in 0.35 m

                                      status
0  Table ST_TG_COHORT1 successfully created.

In [101]:
snow.select("select * from st_tg_cohort1 limit 10")

                             patient_id report_date  obs_quan   unit  tg_level
0  C6A6FADB-55DE-3B13-1BAB-872046D74F9E  2018-11-04     134.0  mg/dL  tg_lt150
1  AFDD01E3-692F-CD3D-4766-891697A4DE81  2018-11-04      86.0  mg/dL  tg_lt150
2  CD813F7A-96B7-1909-11FC-15A5A5204064  2018-11-04      52.0  mg/dL  tg_lt150
3  8EA86E9A-C379-A096-EAB0-19B7D6CD26D0  2018-11-04     401.0  mg/dl  tg_gt150
4  823C97EA-BE80-ED29-09CE-C613E163BB0D  2018-11-04     146.6  mg/dL  tg_lt150
5  054105B9-ED84-E962-8293-B606AE6BA3C1  2018-11-04     144.0  mg/dL  tg_lt150
6  6CC71E57-06FB-4A8C-C1B3-F5E7380C5789  2018-11-04     113.0  mg/dl  tg_lt150
7  E855C4D3-4DFB-4BB3-DF14-4838C70FB87A  2018-11-04      61.0  MG/DL  tg_lt150
8  C5C69953-8236-4AAB-000C-8C7E85F0FB31  2018-11-04     110.0  mg/dL  tg_lt150
9  E03837F3-2C4F-17E5-BA08-DA5D0E71231F  2018-11-04      51.0  MG/DL  tg_lt150

In [111]:
%%read_sql

select  tg_level,
        count(distinct patient_id)
        
        from st_tg_cohort1
        
        --where unit ilike '%mg/dL%'
           --and hdl_unit ilike '%mg/dL%'
            
        group by tg_level
        --order by tg_level

Query started at 04:33:06 PM India Standard Time; Query executed in 0.08 m

   tg_level  COUNT(DISTINCT PATIENT_ID)
0      None                       46315
1  tg_lt150                     5005397
2  tg_gt150                     2372089

#### Tg levels >=180

In [112]:
%%read_sql

create or replace table st_tg_cohort2 as

    select patient_id,
           report_date,
           obs_quan,
           unit,
           
           case
               when obs_quan >= 180 then 'tg_gt180'
               
           end as tg_level
       
    from st_tg_obs_cohort
    
        where loinc_num in (select value from st_loinc_ref where cat1 = 'loinc' and cat2 = 'tg' 
                            and cat3 is null and deactive_date is null)
               and result_status ilike '%Final%'  
               --and report_date = (select max(report_date) from st_tg_obs_cohort)

Query started at 04:34:17 PM India Standard Time; Query executed in 0.24 m

                                      status
0  Table ST_TG_COHORT2 successfully created.

In [102]:
snow.select("select * from st_tg_cohort2 limit 10")

                             patient_id report_date  obs_quan   unit  tg_level
0  9A3AE741-223A-164A-BD57-1C3EA4DC2D59  2018-11-04      53.0  mg/dL      None
1  4A1F84EC-42C8-7253-0053-67140CB6C6F2  2018-11-04      78.0  mg/dL      None
2  23CF83B7-75D1-CAC5-77B4-6B9CFE9E74BA  2018-11-04      66.0  mg/dL      None
3  3B1E92D2-0E7B-A6A3-580E-F86419239DF0  2018-11-04      69.0  mg/dL      None
4  EF017586-A0D3-7D44-BE1F-7E9D530793E3  2018-11-04     214.0  mg/dL  tg_gt180
5  7B2CB51E-7763-1CD6-98D8-E99F91DEF2A5  2018-11-04      71.0  mg/dL      None
6  FA307D76-13C8-BDC4-A4D9-DF87CBADA914  2018-11-04     190.0  mg/dL  tg_gt180
7  5E874B1B-C785-89D1-699C-48BA221FBBEC  2018-11-04     289.0  mg/dL  tg_gt180
8  E2B013ED-0919-2480-A5E0-0840D4BE5F7C  2018-11-04     140.0  mg/dL      None
9  3DEE1949-31DC-42DF-E4C2-8E8D90E6A582  2018-11-04     146.0  mg/dL      None

In [113]:
%%read_sql

select  tg_level,
        count(distinct patient_id)
        
        from st_tg_cohort2
        
        --where unit ilike '%mg/dL%'
           --and hdl_unit ilike '%mg/dL%'
            
        group by tg_level
        --order by tg_level

Query started at 04:36:56 PM India Standard Time; Query executed in 0.13 m

   tg_level  COUNT(DISTINCT PATIENT_ID)
0      None                     5556695
1  tg_gt180                     1678492

#### Tg levels >=200

In [114]:
%%read_sql

create or replace table st_tg_cohort3 as

    select patient_id,
           report_date,
           obs_quan,
           unit,
           
           case
               when obs_quan >= 200 then 'tg_gt200'
               
           end as tg_level
       
    from st_tg_obs_cohort
    
        where loinc_num in (select value from st_loinc_ref where cat1 = 'loinc' and cat2 = 'tg' 
                            and cat3 is null and deactive_date is null)
               and result_status ilike '%Final%'  
               --and report_date = (select max(report_date) from st_tg_obs_cohort)

Query started at 04:38:06 PM India Standard Time; Query executed in 0.14 m

                                      status
0  Table ST_TG_COHORT3 successfully created.

In [104]:
snow.select("select * from st_tg_cohort3 limit 20")

,patient_id,report_date,obs_quan,unit,tg_level
0,B21E265B-9584-FF3F-B689-D61CAB2BFE7A,2018-11-04,97.0,mg/dL,None
1,DF31E7D4-A12D-C21E-29F8-4664A2852C00,2018-11-04,167.0,mg/dL,None
2,615243F8-208A-2466-0D88-A040C0AE8D5D,2018-11-04,157.0,mg/dL,None
3,F00B8CB4-F30C-76D5-767A-A13ACAD6951D,2018-11-04,66.0,mg/dL,None
4,39C218C3-DB44-981C-A4BE-0478D5FE1A03,2018-11-04,36.0,mg/dL,None
5,C4E869E0-5E14-8635-C335-F554381FA55C,2018-11-04,353.0,mg/dL,tg_gt200
6,F32741AB-E168-4373-6CE4-1728CBECC87F,2018-11-04,51.0,mg/dL,None
7,742AD839-34C6-46F8-1A42-C12D2F2F820C,2018-11-04,49.0,mg/dL,None
8,A0E8CBBD-D809-53B8-6F4F-D17E4B6DD139,2018-11-04,167.0,mg/dL,None
9,45E060D4-6E80-CC39-6ED7-4AE5A74D9983,2018-11-04,103.0,mg/dL,None
10,9D5D26B6-B5D5-48BE-EC1C-F32A749D3D86,2018-11-04,67.0,mg/dL,None
11,5F250E9C-47F0-483A-F134-7ACE8DC91527,2018-11-04,101.0,mg/dL,None
12,738ADAA8-FE1A-DBB3-CCA4-5D4D5B248870,2018-11-04,123.0,mg/dL,None
13,5716B92E-3E1B-7166-69D8-76D3FEB7807A,2018-11-04,181.0,mg/dL,None
14,86DED6C4-ECFF-D144-F5D6-FA70AEBE66BF,2018-11-04,78.0,mg/dL,None
15,DBEC7885-5649-1B54-6D70-0856F5948915,2018-11-04,169.0,mg/dL,None
16,DF721DC1-460F-D04A-AB55-C654BAF3BEF8,2018-11-04,93.0,mg/dL,None
17,6B36DE89-286B-E24D-06C4-63B6CD0236C8,2018-11-04,224.0,mg/dL,tg_gt200
18,D230AB37-AFE5-1371-84C4-0D4A048AD2C4,2018-11-04,82.0,mg/dL,None
19,BD6C4961-7207-E9AD-20F7-7D9B62CD1FBD,2018-11-04,80.0,mg/dL,None

In [115]:
%%read_sql

select  tg_level,
        count(distinct patient_id)
        
        from st_tg_cohort3
        
        --where unit ilike '%mg/dL%'
           --and hdl_unit ilike '%mg/dL%'
            
        group by tg_level
        --order by tg_level

Query started at 04:38:24 PM India Standard Time; Query executed in 0.10 m

   tg_level  COUNT(DISTINCT PATIENT_ID)
0  tg_gt200                     1337137
1      None                     5782422

#### Tg levels >=500

In [116]:
%%read_sql

create or replace table st_tg_cohort4 as

    select patient_id,
           report_date,
           obs_quan,
           unit,
           
           case
               when obs_quan >= 500 then 'tg_gt500'
               
           end as tg_level
       
    from st_tg_obs_cohort
    
        where loinc_num in (select value from st_loinc_ref where cat1 = 'loinc' and cat2 = 'tg' 
                            and cat3 is null and deactive_date is null)
               and result_status ilike '%Final%'  
               --and report_date = (select max(report_date) from st_tg_obs_cohort)

Query started at 04:39:03 PM India Standard Time; Query executed in 0.11 m

                                      status
0  Table ST_TG_COHORT4 successfully created.

In [106]:
snow.select("select * from st_tg_cohort4 limit 50")

                              patient_id report_date  obs_quan   unit tg_level
0   EC686422-E47F-DEA8-3232-34D8AD5149A5  2018-11-04      82.0  mg/dL     None
1   EFCDABEF-5B4F-CC75-AC10-110F1031F66B  2018-11-04      87.0  mg/dL     None
2   0B6F5417-EE1D-F8E1-EAA5-5DE7DA66F47D  2018-11-04     163.0  mg/dL     None
3   00900289-9F6F-274D-7B5F-29BE97284BF0  2018-11-04      83.0  mg/dL     None
4   3136FA35-6287-7C59-941A-4ECEC14B00BC  2018-11-04     159.0  mg/dL     None
5   D58CED07-2DEC-42AD-92E5-08C2691488FA  2018-11-04     159.0   None     None
6   49822F04-9471-FB96-A048-784C396D9719  2018-11-04     153.0  mg/dL     None
7   C50C5539-4D76-26CB-39FB-12990F8D3F0C  2018-11-04      69.0  mg/dL     None
8   39CC9D68-198F-1220-D7BE-06F366F3F1A3  2018-11-04      79.0   None     None
9   304B8F47-616F-7BFD-BA77-B269A0112AFB  2018-11-04      91.0  mg/dL     None
10  5E62BC1B-2D86-5936-171A-644102580F70  2018-11-04     125.0  mg/dL     None
11  03B3CCE4-1BCB-559C-6E50-A6CBCD7BC996  2018-11-04     203.0  mg/dL     None
12  6129090F-4C61-EB96-C42C-B5E6F6A5D80E  2018-11-04      63.0  mg/dL     None
13  2B3F45FC-8BE3-92B9-14EB-285F38580448  2018-11-04      46.0  mg/dL     None
14  29DC27F7-9C54-6A6B-7F40-312C939B27A4  2018-11-04     190.0  mg/dL     None
15  295BA735-131E-C3AF-87BD-7E460D784440  2018-11-04     108.0  MG/DL     None
16  686097EE-59C3-C93A-2405-B709619E087D  2018-11-04      63.0  mg/dL     None
17  124F8A2E-496B-B76E-5435-F0F03C2D37C8  2018-11-04     103.0  mg/dL     None
18  5F879091-84D9-6692-9247-0971296ECD86  2018-11-04      87.0  mg/dL     None
19  63F83A4C-D83F-E00B-6E04-0D1F1A8DC303  2018-11-04     239.0  mg/dL     None
20  3F90C01C-F477-D8A5-F4E1-E56717270958  2018-11-04     140.0  mg/dL     None
21  4649100B-4F9F-6AAD-27FB-2D38E4C85D98  2018-11-04     127.0  mg/dL     None
22  E5EE733F-B91A-019F-85F3-31D2A4E38B67  2018-11-04     367.0  mg/dL     None
23  9C8EDC6A-85FD-1E8C-C057-8EE8F68E27E5  2018-11-04     137.0  mg/dL     None
24  B2D163BB-3CDE-B9A4-3F1D-D430C5321506  2018-11-04     141.0  mg/dl     None
25  73DB417B-E21C-7BB6-EBDA-BC89328503F7  2018-11-04      60.0  mg/dL     None
26  1BA80E65-99B8-F4C6-1B10-72F2003CDD3D  2018-11-04      77.0  mg/dL     None
27  9A7C2942-E947-8E01-4952-34ACFF6261FE  2018-11-04     206.0  mg/dL     None
28  3CCF409B-0080-8D5D-0E6C-331843DDE2AA  2018-11-04      87.0  mg/dL     None
29  7725516B-8AE5-62EA-8408-4D87A4AD2770  2018-11-04      51.0  mg/dL     None
30  2E1B73E6-588A-714C-4CA6-241973F42F6B  2018-11-04     103.0  mg/dL     None
31  D7C404D1-8903-360E-E414-848338832125  2018-11-04      84.0  mg/dL     None
32  3CF636D8-569E-FF35-7A6C-088A72CF607C  2018-11-04     111.0  mg/dL     None
33  BE161C21-1F17-B267-2CD6-1CBC978B79A6  2018-11-04     143.0  mg/dL     None
34  A9165EBF-07A3-6079-39D0-311A5F797349  2018-11-04      81.0  mg/dL     None
35  B8406BB2-0DD6-B621-76F1-9A09126390F0  2018-11-04      84.0  mg/dL     None
36  8C6771EA-A296-B058-CD30-82FE57C5C835  2018-11-04      81.0  mg/dL     None
37  5A22ACF1-391F-F24B-8A41-0068F7FF1B05  2018-11-04      51.0  mg/dL     None
38  B8BDF942-204A-6C45-9293-44FA1F310B67  2018-11-04     155.0  mg/dL     None
39  DC6DD0E4-409F-D783-69C6-2652C2E9E9F0  2018-11-04     189.0  mg/dL     None
40  0FAB4D4B-0F1F-72F9-36A5-1D6F728C4AA4  2018-11-04     146.0  mg/dL     None
41  AE524C42-CD95-8B89-D28E-C0927BB20369  2018-11-04     211.0  mg/dL     None
42  57ADE6EA-DE0F-725F-1721-86FCF832158E  2018-11-04      83.0  mg/dL     None
43  90951023-A133-4623-CAA8-9C66C9F8AFBA  2018-11-04     238.0  mg/dL     None
44  E855C4D3-4DFB-4BB3-DF14-4838C70FB87A  2018-11-04      61.0  MG/DL     None
45  B037C6CB-A172-D616-7B42-2883D96F2431  2018-11-04     164.0  mg/dL     None
46  331B07D1-FA7B-6BD8-250A-3FF683D856E6  2018-11-04     134.0  mg/dL     None
47  60B9A9DE-EC74-8986-A378-D1CACFEBDCAC  2018-11-04     228.0  mg/dL     None
48  4AB3BCE8-E0D6-4AFD-1D20-8923E0DCDCB1  2018-11-04     271.0  mg/dL     None
49  A3F7E6C9-8430-6415-FBEB-A5E93D16C9B3  2018-11-04     154.0  mg/dL     None

In [117]:
%%read_sql

select  tg_level,
        count(distinct patient_id)
        
        from st_tg_cohort4
        
        --where unit ilike '%mg/dL%'
           --and hdl_unit ilike '%mg/dL%'
            
        group by tg_level
        --order by tg_level

Query started at 04:39:28 PM India Standard Time; Query executed in 0.05 m

   tg_level  COUNT(DISTINCT PATIENT_ID)
0      None                     6413650
1  tg_gt500                      109900

## HDL cohort
- creating table for HDL levels

In [118]:
%%read_sql

create or replace table st_hdl_cohort as

select 
    patient_id,
    report_date as hdl_report_date,
    obs_quan as hdl_value,
    unit,
    
    case 
        when obs_quan < 40 then 'hdl_lt40'
        when obs_quan >= 40 then 'hdl_gt40'
    
    end as hdl_level

from st_tg_obs_cohort

where loinc_num in (select value from st_loinc_ref where cat1 = 'loinc' and cat2 = 'tg' 
                            and cat3 = 'hdl' and deactive_date is null)
        and result_status ilike '%Final%'

Query started at 04:40:15 PM India Standard Time; Query executed in 0.13 m

                                      status
0  Table ST_HDL_COHORT successfully created.

In [70]:
snow.select("select * from st_hdl_cohort limit 50")

,patient_id,hdl_report_date,hdl_value,unit,hdl_level
0,96C7A2A2-4BCE-DCA0-CC95-E1ACBB40A1A9,2015-10-08,54.0,mg/dL,hdl_gt40
1,A7B38B8E-2D47-4712-3B1C-91DC9E13CC19,2017-12-13,60.0,mg/dL,hdl_gt40
2,A7B38B8E-2D47-4712-3B1C-91DC9E13CC19,2018-01-10,59.0,mg/dL,hdl_gt40
3,8779A09A-0C76-1010-D604-1A5B9F66BFA3,2017-04-22,43.0,mg/dL,hdl_gt40
4,4DB0B540-2043-F47C-DE5F-ADC208706BE8,2017-04-04,48.0,mg/dL,hdl_gt40
5,C2F17244-F79F-E892-0A2B-35204C9D70FA,2014-04-28,111.0,mg/dL,hdl_gt40
6,C2F17244-F79F-E892-0A2B-35204C9D70FA,2013-01-29,109.0,mg/dL,hdl_gt40
7,C2F17244-F79F-E892-0A2B-35204C9D70FA,2013-10-28,108.0,mg/dL,hdl_gt40
8,C2F17244-F79F-E892-0A2B-35204C9D70FA,2015-05-01,119.0,mg/dL,hdl_gt40
9,418D536D-DE81-6110-E482-4515325A840E,2018-03-13,43.0,mg/dL,hdl_gt40
10,418D536D-DE81-6110-E482-4515325A840E,2018-04-24,44.0,mg/dL,hdl_gt40
11,418D536D-DE81-6110-E482-4515325A840E,2017-04-29,45.0,mg/dL,hdl_gt40
12,549C8F97-FEBC-E1B4-C44F-919BCCA780F7,2014-03-25,43.0,mg/dL,hdl_gt40
13,84FFF2EF-2C58-C397-413F-65109362010C,2014-07-26,39.0,mg/dL,hdl_lt40
14,30B9D788-0B8E-9901-4AF4-324CDA1314AD,2016-12-24,67.0,mg/dL,hdl_gt40
15,4A4B4A45-D9ED-3AE1-6050-EEE209C83739,2015-11-29,56.0,mg/dL,hdl_gt40
16,4A4B4A45-D9ED-3AE1-6050-EEE209C83739,2013-04-04,49.0,mg/dL,hdl_gt40
17,4A4B4A45-D9ED-3AE1-6050-EEE209C83739,2013-09-20,59.0,mg/dL,hdl_gt40
18,4A4B4A45-D9ED-3AE1-6050-EEE209C83739,2014-10-14,51.0,mg/dL,hdl_gt40
19,6E037EBB-5194-E4C5-BC08-9FCD697FE415,2018-08-17,52.0,mg/dL,hdl_gt40
20,9261CFD0-D2EF-C50E-A8FC-A026AF3C591A,2014-03-02,43.0,mg/dL,hdl_gt40
21,994ED00F-911F-6685-D55D-B9840136DBF6,2015-11-03,57.0,mg/dL,hdl_gt40
22,68B39860-6F02-163E-F6F2-AAC418DA9579,2013-02-23,27.0,mg/dL,hdl_lt40
23,517C2583-2736-5710-DD6E-0012E7701085,2013-08-16,79.0,mg/dL,hdl_gt40
24,517C2583-2736-5710-DD6E-0012E7701085,2015-06-02,76.0,mg/dL,hdl_gt40
25,517C2583-2736-5710-DD6E-0012E7701085,2014-12-01,90.0,mg/dL,hdl_gt40
26,A5D7A947-FC83-8E79-85D0-4157F7CBCC3E,2017-10-23,79.0,MG/DL,hdl_gt40
27,C7263B24-EEB5-52DC-64CC-976EAE50B157,2014-06-12,60.0,mg/dL,hdl_gt40
28,944535EF-EA22-9762-4ECF-3D2C0238184E,2016-12-23,46.0,mg/dL,hdl_gt40
29,0960B23F-E1DB-1632-C87A-533112F08460,2015-09-01,66.0,mg/dL,hdl_gt40
30,0960B23F-E1DB-1632-C87A-533112F08460,2016-10-21,72.0,mg/dL,hdl_gt40
31,0960B23F-E1DB-1632-C87A-533112F08460,2017-03-09,85.0,mg/dL,hdl_gt40
32,0960B23F-E1DB-1632-C87A-533112F08460,2012-09-18,63.0,mg/dL,hdl_gt40
33,0960B23F-E1DB-1632-C87A-533112F08460,2014-12-16,62.0,mg/dL,hdl_gt40
34,EF58EB8D-CD9A-E4B5-A08E-CBFB378BF0DA,2017-04-21,68.0,mg/dL,hdl_gt40
35,EF58EB8D-CD9A-E4B5-A08E-CBFB378BF0DA,2017-02-17,53.0,mg/dL,hdl_gt40
36,37384CCD-51EE-0980-3FE7-4A9D4F1031DF,2016-07-12,31.0,mg/dL,hdl_lt40
37,2AD15E6A-69A6-BF1B-1871-8B0ECBC897E6,2017-04-30,39.0,mg/dL,hdl_lt40
38,B3487892-3AAC-389B-BDBE-71B168D96184,2017-12-11,42.0,mg/dL,hdl_gt40
39,B3487892-3AAC-389B-BDBE-71B168D96184,2016-12-02,47.0,mg/dL,hdl_gt40
40,B3487892-3AAC-389B-BDBE-71B168D96184,2018-05-19,44.0,mg/dL,hdl_gt40
41,821D6C56-D1EA-9CB4-41F3-AFE72C9418FE,2013-10-23,42.0,mg/dL,hdl_gt40
42,821D6C56-D1EA-9CB4-41F3-AFE72C9418FE,2013-03-06,44.0,mg/dL,hdl_gt40
43,821D6C56-D1EA-9CB4-41F3-AFE72C9418FE,2014-08-07,50.0,mg/dL,hdl_gt40
44,88406EF5-4474-65F6-3878-99296F91E6F0,2015-10-06,33.0,mg/dL,hdl_lt40
45,88406EF5-4474-65F6-3878-99296F91E6F0,2014-08-10,32.0,mg/dL,hdl_lt40
46,89B96399-7789-9EC3-D3B8-D668E9B45541,2017-06-09,55.0,mg/dL,hdl_gt40
47,89B96399-7789-9EC3-D3B8-D668E9B45541,2015-10-01,53.0,mg/dL,hdl_gt40
48,9547A83D-FD38-7929-CF7C-02A70DF5CE70,2016-08-09,46.0,mg/dL,hdl_gt40
49,3F04FDDB-60AB-1FC3-D43F-B21CE3FF79B6,2014-02-02,60.0,mg/dL,hdl_gt40

## Final patient counts with tg levels and HDL
- All the records have been matched on the report_date. I thought of it as a comorbidity where at a given time point (in our case report_date) we want to know the patient's tg level and hdl level.

### Tg levels lt150 and gt150 and hdl counts

In [119]:
%%read_sql

create or replace table st_tg_hdl_agg1 as 
select a.patient_id,
        a.obs_quan,
     a.tg_level,
     a.unit,
     b.hdl_value,
     b.unit as hdl_unit,
     b.hdl_level
 from
    st_tg_cohort1 a
        join st_hdl_cohort b
            on a.patient_id = b.patient_id
            
            where a.report_date = b.hdl_report_date
--group by 1

Query started at 04:43:39 PM India Standard Time; Query executed in 0.17 m

                                       status
0  Table ST_TG_HDL_AGG1 successfully created.

In [120]:
snow.select("select * from st_tg_hdl_agg1 limit 5")

,patient_id,obs_quan,tg_level,unit,hdl_value,hdl_unit,hdl_level
0,D543699F-63F9-56BA-37FD-C38A1BA527A7,63.0,tg_lt150,mg/dL,40.0,mg/dL,hdl_gt40
1,D543699F-63F9-56BA-37FD-C38A1BA527A7,91.0,tg_lt150,mg/dL,42.0,mg/dL,hdl_gt40
2,DFA6DDAA-242E-4096-3748-A3F1C637D115,118.0,tg_lt150,mg/dL,46.0,mg/dL,hdl_gt40
3,094393F2-4A2B-393A-4951-D1C7837D81C1,93.0,tg_lt150,mg/dL,73.0,mg/dL,hdl_gt40
4,F748A4BF-2872-64A0-9E80-02122C444629,242.0,tg_gt150,mg/dL,45.0,mg/dL,hdl_gt40

In [122]:
%%read_sql

select  tg_level,
        hdl_level,
        count(distinct patient_id)
        
        from st_tg_hdl_agg1
        
        --where unit ilike '%mg/dL%'
           --and hdl_unit ilike '%mg/dL%'
            
        group by tg_level, hdl_level
        --order by tg_level

Query started at 04:48:39 PM India Standard Time; Query executed in 0.08 m

   tg_level hdl_level  COUNT(DISTINCT PATIENT_ID)
0      None  hdl_lt40                         936
1  tg_gt150  hdl_gt40                     1626026
2  tg_lt150  hdl_lt40                      745365
3      None  hdl_gt40                        3258
4  tg_gt150  hdl_lt40                      977354
5  tg_gt150      None                        2066
6  tg_lt150  hdl_gt40                     4500249
7  tg_lt150      None                        3055
8      None      None                       43351

### Tg levels gt180 and hdl counts

In [123]:
%%read_sql

create or replace table st_tg_hdl_agg2 as 
select a.patient_id,
        a.obs_quan,
     a.tg_level,
     a.unit,
     b.hdl_value,
     b.unit as hdl_unit,
     b.hdl_level
 from
    st_tg_cohort2 a
        join st_hdl_cohort b
            on a.patient_id = b.patient_id
            
            where a.report_date = b.hdl_report_date
--group by 1

Query started at 04:50:56 PM India Standard Time; Query executed in 0.23 m

                                       status
0  Table ST_TG_HDL_AGG2 successfully created.

In [124]:
%%read_sql

select  tg_level,
        hdl_level,
        count(distinct patient_id)
        
        from st_tg_hdl_agg2
        
        --where unit ilike '%mg/dL%'
           --and hdl_unit ilike '%mg/dL%'
            
        group by tg_level, hdl_level
        --order by tg_level

Query started at 05:08:30 PM India Standard Time; Query executed in 0.12 m

   tg_level hdl_level  COUNT(DISTINCT PATIENT_ID)
0      None  hdl_lt40                      953115
1      None  hdl_gt40                     4896650
2  tg_gt180      None                        1743
3  tg_gt180  hdl_gt40                     1048525
4  tg_gt180  hdl_lt40                      784308
5      None      None                       45307

### Tg levels gt200 and hdl counts

In [125]:
%%read_sql

create or replace table st_tg_hdl_agg3 as 
select a.patient_id,
        a.obs_quan,
     a.tg_level,
     a.unit,
     b.hdl_value,
     b.unit as hdl_unit,
     b.hdl_level
 from
    st_tg_cohort3 a
        join st_hdl_cohort b
            on a.patient_id = b.patient_id
            
            where a.report_date = b.hdl_report_date
--group by 1

Query started at 05:11:11 PM India Standard Time; Query executed in 0.31 m

                                       status
0  Table ST_TG_HDL_AGG3 successfully created.

In [126]:
%%read_sql

select  tg_level,
        hdl_level,
        count(distinct patient_id)
        
        from st_tg_hdl_agg3
        
        --where unit ilike '%mg/dL%'
           --and hdl_unit ilike '%mg/dL%'
            
        group by tg_level, hdl_level
        --order by tg_level

Query started at 05:12:10 PM India Standard Time; Query executed in 0.10 m

   tg_level hdl_level  COUNT(DISTINCT PATIENT_ID)
0      None  hdl_lt40                     1061297
1  tg_gt200  hdl_lt40                      671657
2      None  hdl_gt40                     5056237
3  tg_gt200  hdl_gt40                      781917
4  tg_gt200      None                        1576
5      None      None                       45381

### Tg levels gt500 and hdl counts

In [127]:
%%read_sql

create or replace table st_tg_hdl_agg4 as 
select a.patient_id,
        a.obs_quan,
     a.tg_level,
     a.unit,
     b.hdl_value,
     b.unit as hdl_unit,
     b.hdl_level
 from
    st_tg_cohort4 a
        join st_hdl_cohort b
            on a.patient_id = b.patient_id
            
            where a.report_date = b.hdl_report_date
--group by 1

Query started at 05:13:25 PM India Standard Time; Query executed in 0.23 m

                                       status
0  Table ST_TG_HDL_AGG4 successfully created.

In [128]:
%%read_sql

select  tg_level,
        hdl_level,
        count(distinct patient_id)
        
        from st_tg_hdl_agg4
        
        --where unit ilike '%mg/dL%'
           --and hdl_unit ilike '%mg/dL%'
            
        group by tg_level, hdl_level
        --order by tg_level

Query started at 05:13:43 PM India Standard Time; Query executed in 0.10 m

   tg_level hdl_level  COUNT(DISTINCT PATIENT_ID)
0      None  hdl_lt40                     1488844
1  tg_gt500      None                        1002
2  tg_gt500  hdl_gt40                       25086
3      None  hdl_gt40                     5419485
4  tg_gt500  hdl_lt40                       87867
5      None      None                       45682

# Notes for Nish
- My main concern is that a patient diagnosed in say, 2015 with x level of tg and y level of hdl may not have the same values in 2017. Using a distinct function will pick the first record for that patient_id so it doesn't really resolve my problem.
- Right now, I am treating these buckets as exclusive of each other but I am not sure if it is the right approach. I tried using the max(report_date) function to get the latest EHR record but the results were very weird so I went back to a more simplistic kinda approach.